Checks: 'cert-*,clang-analyzer-*,misc-*,performance-*,readability-*,-llvm-header-guard,-readability-named-parameter,modernize-*,google-*,llvm-*,clang-diagnostic-*'
CheckOptions: [{key: readability-braces-around-statements.ShortStatementLines, value: 3}, {key: google-readability-braces-around-statements.ShortStatementLines, value: 3}]
HeaderFilterRegex: '(.hpp)|(.cuh)|(?!vector_functions.hpp)'
