Checks: 'cert-*,-cert-err60-cpp,-cert-err58-cpp,clang-analyzer-*,misc-*,performance-*,readability-*,-readability-named-parameter,modernize-*,google-*,llvm-*,clang-diagnostic-*'
CheckOptions: [{key: readability-braces-around-statements.ShortStatementLines, value: 3}, {key: google-readability-braces-around-statements.ShortStatementLines, value: 3}]
HeaderFilterRegex: '.*'
